/*	--------------------------------------
	Page structure and scaffolding
	-------------------------------------- */

	html { height: 100%; }
	body { height: 100%; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 11pt; font-weight: normal; line-height: 1.5em; }
	p { padding-bottom: 7px; }

	#pageContainer { min-height:100%; position: relative; }
	#header { margin: 0 auto; }
	#logo { padding-top: 20px; padding-bottom: 5px; }
	#userNav { padding-top: 10px; }
	.userNavForMobile { background-color: #eeeeee; }
	#pageContent { margin: 0 auto; padding-top: 15px; padding-bottom: 100px; }
	#footer { background-color: #eeeeee; position: absolute; bottom: 0; width: 100%; height: 80px; padding-top: 10px; padding-bottom: 10px; }
		/* to ensure footer remains anchored to bottom of page, footer height (plus top or bottom padding) must always match bottom padding of pageContent */
	#footerNav { margin: 0 auto; font-size: 10pt; }
	#footerContainer { padding: 0px; margin: 0px; line-height: 0; }
	#cmsPageBottomNav { margin-top: 15px; }
	#maintenanceWarning { background-color: #F9F2F4; color: #D02572; font-family: Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: normal; padding: 10px; }
	#environmentWarning { background-color: #dfdfdf; color: #aaaaaa; font-family: Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: bold; padding: 1px; }
	#console { background-color: #aaa; color: #333; font-family: Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: normal; padding: 10px; }
	
	#siteNavLiner { padding-right: 20px; }
	#salutation { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #999; font-size: 11pt; }
	#rumourAlert { padding-bottom: 10px; font-size: 10pt; line-height: 1.25em; }
	.siteNavItem { padding-bottom: 10px; color: #58595b; font-size: 10pt; line-height: 1.25em; }
	.siteNavItemSearch { color: #58595b; font-size: 10pt; margin-bottom: 0px; }
	#siteNavSearch { padding-top: 10px; border-top: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ccc; font-size: 12pt; }
	#siteNavSearchAdvanced { padding-top: 10px; font-size: 10pt; }
	.siteNavItemLabel { padding-bottom: 10px; font-size: 10pt; }

	.section_TL { float: left; width: 600px; margin-right: 20px; }
	.aside_TL { float: left; width: 320px; }
	.half_TL { float: left; width: 450px; margin-right: 20px; }
	.third_TL { float: left; width: 300px; margin-right: 10px; }
	.quarter_TL { float: left; width: 225px; margin-right: 10px; }
	.index_TL { float: left; width: 320px; margin-right: 20px; }
	.indexedContent_TL { float: left; width: 600px; }
	.indexApprox_TL { float: left; width: 35%; margin-right: 5%; }
	.indexedContentApprox_TL { float: left; width: 60%; }
	.lead { font-size: 14pt; }

	.pageModule { padding-bottom: 45px; }
	.pageModuleVisible { padding: 15px; margin-bottom: 25px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #f5f5f5; border: 1px solid #ebebeb; }
	.hidden { display: none; }
	.reallyHidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; display: none; }
	.visible { display: block; }
	.dropShadow { -moz-box-shadow: 1px 1px 2px #666666; -webkit-box-shadow: 1px 1px 2px #666666; box-shadow: 1px 1px 2px #666666; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666'); }
	.transluscent { opacity: 0.45; filter: alpha(opacity = 45); }
	.nowrap { white-space: nowrap; }
	.pagination { text-align: center; }
	.floatClear { clear: both; }
	
	.glyphicon-white, .glyphicon-white a { color: #fff; }

/*	--------------------------------------
	Headers
	-------------------------------------- */
	
	h2 { font-size: 18pt; margin-top: 0px; padding-top: 0px; padding-bottom: 7px; line-height: 1em; }
	h3 { font-size: 16pt; }
	h4 { font-size: 14pt; }
	h6 { font-size: 10pt; font-weight: bold; }

/*	--------------------------------------
	Forms
	-------------------------------------- */
	
	form { padding: 0; margin: 0; }
	
	.formLabel { float: left; width: 30%; max-width: 200px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 5px; }
	.formField { float: left; width: 60%; margin-bottom: 5px; }
	
	.multipicker { padding: 4px; border: 1px solid #ddd; overflow: scroll; overflow-x: hidden; }
	.multipickerSelectedValue { font-weight: bold; }
	.multipickerUnselectedValue { font-weight: normal; }
	
	.input-textarea-height-medium { height: 150px; }
	.input-textarea-height-large { height: 250px; }
	.input-sitenav { width: 200px; }

/*	--------------------------------------
	Links
	-------------------------------------- */

	a, a:visited { color: #888; text-decoration: none; }
	a:hover, a:active { color: #58595b; text-decoration: underline; }

	a.inverse, a.inverse:visited, a.inverse:hover, a.inverse:active { color: #ffffff; text-decoration: none; }

	a.siteNavRumourAlert, a.siteNavRumourAlert:visited { color: #b94a48; text-decoration: none; }
	a.siteNavRumourAlert:hover, a.siteNavRumourAlert:active { color: #b94a48; text-decoration: underline; }

	a.tagLink, a.tagLink:visited { color: #fff; text-decoration: none; }
	a.tagLink:hover, a.tagLink:active { color: #eee; text-decoration: none; }

	a.subtle, a.subtle:visited { color: #c2c2c2; text-decoration: none; }
	a.subtle:hover, a.subtle:active { color: #959595; text-decoration: underline; }

	a.errorMessage, a.errorMessage:visited { color: #ff0000; text-decoration: none; }
	a.errorMessage:hover, a.errorMessage:active { color: #ff0000; text-decoration: underline; }
	
	a.linkAsButton, a.linkAsButton:visited, a.linkAsButton:hover, a.linkAsButton:active { color: #fff; }
	
	a.noUnderscore, a.noUnderscore:visited, a.noUnderscore:hover, a.noUnderscore:active { text-decoration: none; }

/*	--------------------------------------
	Lists
	-------------------------------------- */

	.hideBullets { list-style-type: none; padding-left: 0px; margin-left: 0px; }

	ol { list-style-type: decimal; }
	ol li { list-style-type: decimal; padding-left: 5px; color: #aaa; }
	ol li span { color: black; }

/*	--------------------------------------
	Tables
	-------------------------------------- */

	table { font-size: 11pt; }
	.rowPadding { padding-top: 5px; padding-bottom: 5px; }
