RewriteEngine on
RewriteBase /
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3&parameter3=$4&parameter4=$5 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3&parameter3=$4&parameter4=$5 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3&parameter3=$4 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3&parameter3=$4 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/([0-z|+&'",!?@#;:*%-]+)/$ /initialize.php?templateName=$1&parameter1=$2&parameter2=$3 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)$ /initialize.php?templateName=$1&parameter1=$2 [L]
RewriteRule ^([0-z|+-]+)/([0-z|+&'",!?@#;:*%-]+)/$ /initialize.php?templateName=$1&parameter1=$2 [L]
RewriteRule ^([0-z|+-]+)$ /initialize.php?templateName=$1 [L]
RewriteRule ^([0-z|+-]+)/$ /initialize.php?templateName=$1 [L]
RewriteRule ^$ /initialize.php [L]
RewriteRule ^/$ /initialize.php [L]
