<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
<style>
	a, a:visited { color: #4899ec; text-decoration: none; }
	a:hover, a:active { color: #87b9ec; text-decoration: underline; }
</style>
</head>

<body>

<div style='padding-bottom: 15px;'><a href='{URL}'><img src='{URL}/{LOGO}' border='0' /></a></div>

<div style='font-family: Helvetica, Arial, sans-serif; font-size: 10pt; color: #000000;'>

{CONTENT}

</div>

</body>
</html>
