
	.calendarPage { font-size: 14pt; text-align: center; background-color: #fff; border: 1px solid #aaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	.calendarPageTop { padding: 2px; font-size: 8pt; background-color: #ccc; white-space: nowrap; }
	.calendarPageYear { color: #fff; font-weight: bold; padding-left: 2px; }
	.calendarPageBottom { padding: 2px; font-size: 8pt; border-top: 1px solid #ddd; white-space: nowrap; }

	.bubbleDate { clear: both; width: 82px; font-size: 8pt; text-align: center; background-color: #fff; border: 1px solid #aaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; white-space: nowrap; }
	.bubbleDay { float: left; width: 20px; padding: 2px; }
	.bubbleMonthYear { float: right; width: 60px; text-align: center; padding: 2px; background-color: #ccc; }
	.bubbleYear { color: #fff; font-weight: bold; }
